DATABASE_URL=postgresql+psycopg2://resumehub:resumehub@db:5432/resumehub
REDIS_URL=redis://redis:6379/0
JWT_SECRET=supersecretjwtkey
JWT_ALGORITHM=HS256
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AWS_REGION=ap-south-1
S3_BUCKET_NAME=resumehub-bucket
DEBUG=True